<nav class="nav flex-column">
  <a class="nav-link disabled" href="#">About</a>
  <a class="nav-link" href="/questions">Questions</a>
  <a class="nav-link disabled" href="#">Sign Up</a>
  <a class="nav-link disabled" href="#">Login</a>
</nav>
